/* ==== Estilo general ==== */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
}



/* ==== Navbar ==== */
.navbar-nav .nav-link:hover {
  color: #ffc75f;
}

/* ==== Header ==== */
header {
  background-color: #bb7a02;
}

header h1 {
  font-weight: bold !important;
}

/* ==== Lista del navegador ==== */
.nav-item {
  color: #fff;
  list-style: none;
  padding: 10px;

}


main{
   margin: 30px auto;
}

main h2, main h3 {
  color: #bb7a02;
  font-weight: bold;
}

main label {
 color: #292421;
  font-size: 1rem;
}

/* ==== Formularios ==== */
input.form-control {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #dacecf;
}

/* ==== Botones ==== */
.btn {
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: bold;
}

/* ==== Footer ==== */
footer {
  color: #fff;
  background-color: #212529;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
}
