/* ==== Estilo general ==== */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  
}

h2{
  color: #7400a1;
}
/* ==== Navbar ==== */

.nav-item {
  color: white;
  list-style: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}



.nav-item:hover{
  background-color: #7400a1;
  border-radius: 20%;
  color: #fff;
}

/* ==== Header ==== */
header {
  background-color: #7400a1;
}

header h1 {
  font-weight: bold !important;
}

/* ==== Artículos ==== */
article {
  margin: 30px auto;
}

/* ==== Títulos y subtítulos ==== */
article h2,
article h3 {
  color: #7400a1;
  font-weight: bold;
}

/* ==== Párrafos ==== */
article p {
  color: #49105f;
  font-size: 1rem;
}

/* ==== Botones ==== */
.btn {
  background-color: #7400a1!important;
  color: #fff !important;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: bold;
}

/* ==== Footer ==== */
footer {
  background-color: #212529;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
}
